<c-modal id="add-self-affirmation-modal" class="text-black" [visible]="isVisible"
	(visibleChange)="visibleChange.emit($event)">
	<c-modal-header>
		<h5 cModalTitle>Add Chpater</h5>
		<button (click)="closeModal()" cButtonClose></button>
	</c-modal-header>
	<c-modal-body class="p-3">
		<div class="form-group mb-3">
			<label> Chapter Name </label>
			<input type="text" class="form-control" [(ngModel)]="data.name" />
		</div>
		<!-- <div class="form-group mb-3">
			<label> Chapter Price </label>
			<input type="text" class="form-control" [(ngModel)]="data.price" />
		</div>
		<div class="form-group mb-3">
			<label> Paid/Free </label>
			<select class="form-select" [(ngModel)]="data.paid">
				<option value="0">Free</option>
				<option value="1">Paid</option>
			</select>
		</div> -->
	</c-modal-body>
	<c-modal-footer>
		<button cButton color="primary" (click)="handleSubmit.emit()">Submit</button>
	</c-modal-footer>
</c-modal>